<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {{ title }} </title>

  <style>
    {{{ style.[scss/style.css] }}}
  </style>
  <link rel="stylesheet" href="https://fontlibrary.org/face/caladea" type="text/css"/>

</head>
<body>
  <div id="main">
    <div id="content">
    {{{ contents }}}
    </div>
  </div>
</body>
</html>
