/* Copied and changed from:
   https://github.com/elipapa/markdown-cv
*/

body {
  font: normal normal 400;
  font-family: CaladeaRegular;
  @media screen {
    font-size: 100%;
    line-height: 1.5em;
    margin-top: 1em;
    margin-left: 1em;
  }
  @media print {
    font-size: 10pt;
    line-height: 1.5em
  }
}

p {
  position: relative;
  left: 25%;
  margin-right: 0;
  @media screen {
    margin-bottom: 0.7em;
    width: 55%;
  }
  @media print {
    margin-bottom: 0.2em;
    width: 55%;
  }
}

code {
  font: normal normal;
  font-family: CaladeaRegular;
  font-size: 90%;
  @media screen {
    color: #aaa;
  }
  @media print {
    color: #ccc;
  }
}

p code {
  position: absolute;
  text-align: right;
  right: -30%;
}

ul {
  position: relative;
  left: 27%;
  width: 60%;
  @media screen {
    margin-bottom: 1.5em;
    margin-top: -0.5em;
  }
  @media print {
    margin-bottom: 1em;
  }
}

li {
  /*second line indent*/
  padding-left: 1.25em;
  text-indent: -1.25em;
  color: #333;
}

li ul {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0.25em;
}

h1,h2,h3,h4 {
  font-weight: 400;
  font-family: CaladeaRegular;
  width: 80%;
  text-transform: uppercase;
}

h1 {
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  position: relative;
  left: 25%;
}

h1+p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
  margin-top: 0.5em;
}

h2 {
  font-size: 1.1em;
  position: relative;
  text-align: right;
  width: 20%;
  @media screen {
    color: #bc412b;
    margin-top: 3em;
    top: 1.4em;
  }
  @media print {
    color: #a00;
    margin-top: 2em;
    top: 1.2em;
  }
}

h3 {
  font-size: 1em;
  line-height: 2em;
  position: relative;
  text-align: right;
  width: 20%;
  @media screen {
    top: 1.7em;
  }
  @media print {
    top: 1.6em;
    color: #ccc;
  }
}

a {
  color: inherit;
  @media print {
    text-decoration: none;
  }
}

a:hover {
  color:#39f
}

#webaddress {
  margin-top: 1em;
  position: relative;
  left: 25%;
  font-family: CaladeaRegular;
  @media screen {
    color: #bc412b;
    font-size: 100%;
  }
  @media print {
    color: #ccc;
    font-size: 90%;
  }
}

#webaddress a {
  text-decoration: none;
}

em {
  @media screen {
    font-style: italic;
  }
  @media print {
    font-style: normal;
    color: #2d4e5e;
  }
}

strong {
  font-weight: bold;
}

.no-print, .no-print * {
  @media print {
    display: none !important;
  }
}
